<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
  <title><%= site_title %><%= " :: #{@title}" unless @title.nil? %></title>
  <link href="/css/base.css" rel="stylesheet" type="text/css" media="screen, projection" />
	<link href="/css/styles.css" rel="stylesheet" type="text/css" media="screen, projection" />
	<!--[if  !IE7]>
		<link href="/css/ie_not_7.css" rel="stylesheet" type="text/css" media="screen, projection" />
	<![endif]-->
</head>
<body>

<div id="wrap">
	<div id="header">
		<p><%= @path %></p>
	</div>
	<% unless session[:dir].nil? %>
	<div id="current">
		<p>Dir: <%= session[:dir] %></p>
		<p>File: <%= session[:file] %></p>
	</div>
	<% end %>
	<div id="main">

		<%= yield %>

	</div>
</div>

<div id="footer">
	<p class="left"><%= site_title %> &copy; <%= Time.now.strftime("%Y") %> <a href="mailto:a.bluntish@gmail.com">Andy Bluntish</a></p>
	<p class="right">Powered by <a href="http://www.sinatrarb.com">Sinatra</a></p>
</div>

</body>
</html>
